#ui {
    position: absolute;
}

@font-face {
    font-family: 'Ken Future';
    src: url('../fonts/kenney_future_narrow-webfont.woff2');
}

button {
    font-family: 'Ken Future';
    background: -72px -60px url('../ui/Button.svg');
    border: none;
    width: 82px;
    height: 33px;
    padding: 1px 6px;
}

button:hover {
    background: -158px -60px url('../ui/Button.svg');
}

button:active {
    background: -244px -60px url('../ui/Button.svg');
}
